In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (from scikit-learn->sklearn) (1.20.1)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\17737\anaconda3\envs\pythondata38\lib\site-packages (1.0.1)

In [3]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [5]:
df = pd.read_csv("data/train.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB

# Select your features (columns)

In [7]:
# Set features. This will also be used as your x values.
selected_features = df[[]]
selected_features

Empty DataFrame
Columns: []
Index: [1, 3, 6, 10, 11, 21, 23, 27, 52, 54, 62, 66, 75, 88, 92, 96, 97, 102, 110, 118, 123, 124, 136, 137, 139, 148, 151, 170, 174, 177, 183, 193, 194, 195, 205, 209, 215, 218, 224, 230, 245, 248, 251, 252, 257, 262, 263, 268, 269, 273, 275, 291, 292, 297, 299, 305, 307, 309, 310, 311, 318, 319, 325, 327, 329, 331, 332, 336, 337, 339, 340, 341, 345, 356, 366, 369, 370, 377, 390, 393, 394, 412, 429, 430, 434, 435, 438, 445, 449, 452, 453, 456, 460, 462, 473, 484, 486, 487, 492, 496, ...]

[183 rows x 0 columns]

# Create a Train Test Split

Use `koi_disposition` for the y values

In [7]:
# get X and y variables, Assign X (data) and y (target)
X = selected_features
y = df["koi_disposition"]
print(X.shape, y.shape)

(6991, 39) (6991,)

In [8]:
#Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [9]:
X_train.head()

,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_period_err1,koi_period_err2,koi_time0bk,koi_time0bk_err1,koi_time0bk_err2,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
6080,1,0,0,0,12.496435,2.213000e-04,-2.213000e-04,132.035800,0.014300,-0.014300,...,-286,3.805,0.390,-0.130,2.730,0.535,-1.248,289.23080,44.412483,13.054
3001,0,0,0,0,11.615625,1.528000e-04,-1.528000e-04,131.968430,0.008230,-0.008230,...,-72,4.083,0.368,-0.092,1.453,0.218,-0.510,293.52756,41.111439,15.162
570,0,1,0,0,10.980246,6.930000e-07,-6.930000e-07,137.137607,0.000053,-0.000053,...,-159,4.462,0.098,-0.182,0.897,0.238,-0.119,282.79764,43.578129,14.212
4897,1,0,0,0,466.908240,1.194000e-02,-1.194000e-02,136.373100,0.019000,-0.019000,...,-146,4.456,0.102,-0.361,0.867,0.448,-0.103,297.65436,43.178551,15.202
625,0,1,1,1,1.061933,1.250000e-06,-1.250000e-06,133.850441,0.000978,-0.000978,...,-167,3.975,0.259,-0.111,1.851,0.383,-0.575,288.90253,44.632992,12.953

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [10]:
# Scale your data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)


print(encoded_y_test)

[1 2 2 ... 2 2 0]

# Train the Model

In [11]:
# Create the SVC Model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [12]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.8371161548731643
Testing Data Score: 0.8564073226544623

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [13]:
# Create the GridSearchCV model
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [14]:
# Train the model with GridSearch
# This will take the SVC model and try each combination of parameters
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
[CV 1/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 2/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 3/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 4/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 5/5] END ..............................C=1, gamma=0.0001; total time=   0.3s
[CV 1/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 2/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 3/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 4/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 5/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 1/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 2/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 3/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 4/5] END ...............................C=1, gamma=0.001; total time=   0.3s
[CV 5/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 1/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 2/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 3/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 4/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 5/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 1/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 2/5] END ..............................C=5, gamma=0.0001; total time=   0.3s
[CV 3/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 4/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 5/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 1/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 2/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 3/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 4/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 5/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 1/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 2/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 3/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 4/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 5/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 1/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 2/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 3/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 4/5] END ...............................C=5, gamma=0.005; total time=   0.3s
[CV 5/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 1/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 2/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 3/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 4/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 5/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 1/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 2/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 3/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 4/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 5/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 1/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 2/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 3/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 4/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 5/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 1/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 2/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 3/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 4/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 5/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 1/5] END .............................C=50, gamma=0.0001; total time=   0.2s
[CV 2/5] END .............................C=50, gamma=0.0001; total time=   0.3s
[CV 3/5] END .............................C=50, gamma=0.0001; total time=   0.3s
[CV 4/5] END .............................C=50, gamma=0.0001; total time=   0.3s
[CV 5/5] END .............................C=50, gamma=0.0001; total time=   0.3s
[CV 1/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 2/5] END .............................C=50, gamma=0.0005; total time=   0.3s
[CV 3/5] END .............................C=50, gamma=0.0005; total time=   0.3s
[CV 4/5] END .............................C=50, gamma=0.0005; total time=   0.3s
[CV 5/5] END .............................C=50, gamma=0.0005; total time=   0.3s
[CV 1/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 2/5] END ..............................C=50, gamma=0.001; total time=   0.3s
[CV 3/5] END ..............................C=50, gamma=0.001; total time=   0.3s
[CV 4/5] END ..............................C=50, gamma=0.001; total time=   0.3s
[CV 5/5] END ..............................C=50, gamma=0.001; total time=   0.3s
[CV 1/5] END ..............................C=50, gamma=0.005; total time=   0.3s
[CV 2/5] END ..............................C=50, gamma=0.005; total time=   0.3s
[CV 3/5] END ..............................C=50, gamma=0.005; total time=   0.3s
[CV 4/5] END ..............................C=50, gamma=0.005; total time=   0.3s
[CV 5/5] END ..............................C=50, gamma=0.005; total time=   0.3s

GridSearchCV(estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10, 50],
                         'gamma': [0.0001, 0.0005, 0.001, 0.005]},
             verbose=3)

In [15]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 50, 'gamma': 0.0001}
0.8750685858578509

In [16]:
predictions=grid.predict(X_test)

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions, ))

                precision    recall  f1-score   support

     CANDIDATE       0.22      0.25      0.23       404
     CONFIRMED       0.20      0.28      0.24       435
FALSE POSITIVE       0.59      0.45      0.51       909

      accuracy                           0.36      1748
     macro avg       0.34      0.33      0.33      1748
  weighted avg       0.41      0.36      0.38      1748

# Save the Model

In [19]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'marge.sav'
joblib.dump(predictions, filename)

['marge.sav']